<form>
  <div class="form-group">
    <label for="exchangeId">Exchange Id</label>
    <input type="text" class="form-control" required id="exchangeId" />
  </div>
  <div class="form-group">
    <label for="brief">Exchange Brief</label>
    <input type="text" class="form-control" required id="brief" />
  </div>
  <div class="form-group">
    <label for="address">Exchange Address</label>
    <input type="text" class="form-control" required id="address" />
  </div>
  <div class="form-group">
    <label for="remarks">Exchange Remarks</label>
    <input type="text" class="form-control" id="remarks" required />
  </div>
  <button type="button" class="btn btn-primary" (click)="addExchange()">
    Add
  </button>
</form>
